@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  background-color: #072A40;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}
.header img {
  width: 150px;
  position: fixed;
  left: 30px;
}
.header .iconMenu {
  font-size: 30px;
  color: white;
}
.header .iconMenu:hover {
  color: #0089BF;
}
.header .btn-back {
  width: 20px;
  height: 40px;
  color: white;
  background-color: transparent;
  outline: none;
  text-align: center;
  line-height: 30px;
  margin-bottom: -10px;
}
.header .btnEdit {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  position: fixed;
  right: 10px;
}
.header .btnEdit:hover {
  color: #0089BF;
}

.orders {
  padding: 70px 10px;
}

.orders .wrapper-row {
  display: grid;
  grid-template-columns: auto 20px;
  width: 100%;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}
.orders .row { 
  display: grid;
  grid-template-columns: 80px auto 20px;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid lightgray;
  border-radius: 10px;
  align-items: center;
}
.orders .row:hover{
  border: 1px solid #0089BF;
} 
.orders .row #date{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orders .row #date #day {
  font-size: 25px;
  font-weight: 500;
}
.orders .row #date #month {
  color: #0089BF;
  margin: -1px;
  font-size: 12px;
  font-weight: bold;
}
.orders .row #date #year {
  font-size: 12px;
}

.orders .row #name {
  font-weight: 600;
}
.orders .row #address {
  font-size: 12px;
}

.orders .iconDelete {
  color:red;
  width: 20px;
  margin-top: -5px;
}

.orders .labels {
  display: flex;
  gap: 5px;
  margin: 3px 0;
}
.orders .labels #delivered {
  color: white;
  background-color: #0089BF;
  width: fit-content;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 15px;
}
.orders .labels #pickedUp {
  color: white;
  background-color: #00bf9c;
  width: fit-content;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px 15px;
}


.order {
  padding-top: 50px;
  overflow: hidden;
}
.order iframe {
  width: 100%;
  height: calc(100vh - 60px);
}

.order .details {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-bottom: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: slideUp 0.4s;
}
.order .hideDetails {
  position: fixed;
  left: 0;
  bottom: -71vw;
  background-color: white;
  width: 100%;
  height: 80vw;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: slideDown 0.4s;
}
@media screen and (min-height:800px) {
    .order .details {
      height: fit-content;
      padding-bottom: 30px;
    }
}


@keyframes slideUp {
  from {
     bottom: -96vh;
  } to {
    bottom: 0;
  }
}
@keyframes slideDown {
  from {
    bottom: 0;
  } to {
    bottom: -71vw;
  }
}



.order .btn-open {
  position: relative;
  top:-25px;
  text-align: center;
  background-color: transparent;
  font-size: 35px;
  color: gray;
}
.order .btn-close {
  position: relative;
  left: 95%;
  top:0px;
  font-size: 25px;
  color: gray;
}

.order #name {
  font-size: 30px;
  font-weight: bold;
  margin-top: -35px;
}
.order #inflatable {
  font-size: 20px;
}
.order .action-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.order .btn-call {
  display: block;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #0089BF;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 20px;
}
.order .btn-delivered {
  display: block;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #0089BF;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 20px;
}

.order .wrapper-loader {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: #072A40;
  z-index: 999;
  color: #0089BF;
  display: flex;
  flex-direction: column;
}  

.order .wrapper-loader #legend{
  position: absolute;
  bottom: 20%; left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
  font-weight: 200;
  animation: loading 1.5s infinite;
}
@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loader {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%; top: 30%;
  transform: translateX(-50%);
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #0089BF inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}


.order .wrapper-slider p {
  position: relative;
  bottom: -6vw;
  text-align: center;
  font-size: 4vw;
  color: gray;
  font-weight: 300;
  animation: colorAnimation 2s ease-in-out infinite alternate;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #ddd;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  /* transition: opacity .2s; */
  margin-top: -10px;
}

/* Styles for the slider thumb */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 90px;
  height: 50px;
  border-radius: 10px;
  background: #072A40;
  cursor: pointer;
  z-index: 999;
  position: relative;
}

.slider::-webkit-slider-thumb {
  background-image: url("https://static-00.iconduck.com/assets.00/chevron-right-icon-1152x2048-pt8coo5w.png");
  height: 50px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size:15px;
}
@keyframes colorAnimation {
  from {
    color: lightgray;
  }
  to {
    color: gray;
  }
}



.wrapper-passcode {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background-color: #072A40;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper-passcode .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}
.wrapper-passcode img {
  width: 50%;
  margin-bottom: 30px;
}
.wrapper-passcode .digits-container {
   width: 30%;
   display: flex;
   justify-content: space-between;
}
@media screen and (min-height:800px) {
    .digits-container {
      margin-top: 20px;
    }
}
.wrapper-passcode .icon-digit {
    color: white;
}
.wrapper-passcode .numpad {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 40px;
  width: 85vw;
  height: 55vh;
  /* position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%); */
}
.wrapper-passcode .btn-num {
  font-size: 9vw;
  font-weight: 200;
  padding: 20px;
  margin: 10px;
  color: white;
  background-color: #0a3854;
  border: none;
  border-radius: 10px;
}
.wrapper-passcode .btn-num:hover {
  background-color: #0089BF;
}
